<label for="fname">First name:</label><br>
<input type="text" id="fname" name="fname"><br><br>

<label for="lname">Last name:</label><br>
<input type="text" id="lname" name="lname"><br><br>

<label for="salary">Salary:</label><br>
<input type="number" [(ngModel)]= "salary"><br><br>

<label for="submit"></label><br>
<input type="button" value="SUBMIT"><br><br>

<br><br>
<!-- <button (click)="businessloanamount()">CALCULATE AMOUNT</button>&nbsp;&nbsp;&nbsp;
<button (click)="businessloaninterest()">CALCULATE INTEREST</button>&nbsp;&nbsp;&nbsp; -->


<!-- <h1>Interest : {{interest}}</h1>
<h1>Loan Amount with Interest : {{amount}}</h1> -->
